* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
}

:root {
  --brush-fill: rgba(0,0,0,.1);
  --brush-stroke: rgba(0,0,0,.5);
  --hint: rgba(66, 133, 244, 0.200);
	--selected: rgba(66, 133, 244, 1.000);
}